#Header{
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: inherit;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo span{
    font-size: 1.5rem;
    font-weight: bold;
}